@import '../scss/style.module.scss';

.popular_tours {
    padding: 100px 0 46px 0;
    float: left;
    width: 100%;

    h2 {
        color: $dark;
        font-family: "Gilroy Bold";
        font-size: 40px;
        letter-spacing: -0.77px;
        display: block;
        position: relative;
        display: inline-block;

        &::before {
            position: absolute;
            width: 180px;
            height: 73px;
            background: url('/images/background-image.svg') repeat transparent;
            background-position: 2px 0;
            top: -16px;
            right: -33px;
            content: "";
            display: block;
            z-index: -1;
        }
    }

    .tours_tiles {
        display: flex;
        flex-wrap: wrap;
        margin-left: -15px;
        margin-right: -15px;
        margin-top: 90px;
    }
}