@import '../../../sass/style.module.scss';

.pdf_download {
  padding: 10px 0 5px 0;

  li {
    width: 100%;
    border: 1px solid $iron6;
    padding: 5px 12px;
    -webkit-transition: 0.3s all ease-in-out;
    transition: 0.3s all ease-in-out;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    align-items: center;
    margin: 7px 0;

    @include media(480px) {
      flex-wrap: wrap;
    }

    &:hover {
      background: $gray9;
    }

    span {
      padding: 5px 0;
      font-size: 16px;
      font-weight: $regular;
      color: $iridium;
      width: calc(100% - 100px);

      @include media(480px) {
        width: 100%;
        text-align: center;
      }
    }

    .download_button {
      display: flex;
      align-items: center;
      border-radius: 25px;
      padding: 11px 25px;
      border: 1px solid $primary-color;
      -webkit-transition: 1s ease-in-out;
      transition: 1s ease-in-out;
      position: relative;
      overflow: hidden;
      background: $primary-color;
      color: $white;
      margin-left: 10px;
      position: relative;
      overflow: hidden;

      svg {
        font-size: 18px;
        margin-right: 5px;
      }

      @include media(480px) {
        margin-left: 0;
        width: 100%;
        padding: 7px 20px;
        text-align: center;
        justify-content: center;
      }
    }
  }
}

.accItemsContainer {
  h2 {
    font-size: 25px;
    color: $deep-cove;
    font-family: $primary-font;
  }
  h3,
  h4,
  h5,
  h6 {
    font-size: 18px;
    color: $deep-cove;
    padding: 10px 0;
    font-family: $primary-font;
  }

  p {
    font-size: 16px;
    line-height: 24px;
    color: $iridium;
    font-family: $primary-font;
    margin-bottom: 10px;
  }

  ul {
    margin: 10px 0;
    li {
      position: relative;
      padding-left: 25px;
      padding-top: 5px;
      padding-bottom: 5px;
      list-style: none;
      font-size: 16px;
      color: $iridium;
      background: url('/images/icons/circle-right.png') left top 9px no-repeat;

      a {
        text-decoration: underline;
      }

      h3,
      h4,
      h5,
      h6 {
        padding: 0;
      }
    }
  }

  ol {
    padding-left: 15px;
  }
}
